* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid lightgray;
}

nav {
  display: flex;
  gap: 1rem;
}

.active {
  font-weight: bold;
}

:focus-visible {
  outline: 3px solid blue;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}
